body {
    background-image: url("./Yoga\ Animation.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0; /* Ensure no extra margin */
    padding: 0; /* Ensure no extra padding */
    overflow: hidden; /* Prevent scrolling if content overflows */
}

.navbar-brand img {
    width: 30px;
    height: auto; /* height: auto will automatically adjust the height */
    margin-left: 10px;
}

.container {
    width: 30vw;
    margin: auto;
    background-color: transparent; /* Transparent background */
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9); /* Corrected RGBA value */
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-heading {
    color: rgb(68, 120, 199);
    font-weight: 600;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-captn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(68, 120, 199);
    font-weight: 500;
    font-size: 25px;
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, button, select {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: transparent; /* Transparent input background */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9); /* Corrected RGBA value */
}

#type, #duration, #intensity {
    background-color: transparent; /* Transparent select box */
    color: black;
}

#type:hover, #duration:hover, #intensity:hover {
    background-color: white;
}

#workoutForm {
    background-color: transparent; /* Transparent background for form */
}

button {
    color: white;
    border: none;
    cursor: pointer;
    background-color: transparent; /* Transparent button */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9); /* Corrected RGBA value */
}

button:hover {
    background-color: rgb(38, 91, 190);
}

.history {
    text-align: center;
    margin-top: 0;
}

.history #workoutHistory h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
}

.history #statistics h2 {
    font-weight: bold;
    margin-top: 1rem;
}

.history #statistics p {
    font-weight: bold;
    font-size: 1rem;
}
